<div
    style="
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        border: 1px dashed gray;
        padding: 20px;
    "
>
    <div style="margin-top: 5px">
        <input
            [(ngModel)]="login"
            placeholder="Login"
            style="width: 100%"
        />
    </div>
    <app-virtual-keyboard (onChange)="appendToLoginInput($event)"></app-virtual-keyboard>
    <div style="margin-top: 5px" >
        <button (click)="onChangeLogin()">SignIn</button>
    </div>
</div>
