nav
{
    display: flex;
    background-color: #9746ca;
    padding: 0px 10px;
    button
    {
        border-radius: 0px;
        height: 40px;
        border: none;
        color: white;
        cursor: pointer;
        background-color: #9746ca;
        text-decoration: underline;
    }
    button:hover
    {
        background-color: #7b33a8;
    }
}
