<section style = "display: flex; justify-content: center; flex-wrap: wrap;">
    <section>
        Новая игра
        <div style = "border: 1px solid #cccccc; padding: 10px;">
            <table>
                <tr>
                    <td colspan="2">Размер поля</td>
                </tr>
                <tr>
                    <td>Ширина:</td>
                    <td><input [(ngModel)] = "w" placeholder = "Ширина" type = "number"></td>
                </tr>
                <tr>
                    <td>Высота:</td>
                    <td><input [(ngModel)] = "h" placeholder = "Высота" type = "number"></td>
                </tr>
                <tr>
                    <td>Кол-во в ряд:</td>
                    <td><input [(ngModel)] = "condition" placeholder = "Кол-во в ряд" type = "number"></td>
                </tr>
                <tr>
                    <td>Игрок:</td>
                    <td>
                        <select [(ngModel)] = "mode" placeholder = "Игрок">
                            <option>Online</option>
                            <option *ngFor = "let player of ai">{{ player }}</option>
                        </select>
                    </td>
                </tr>
            </table>
            <div class = "settings-item">
                <button (click) = "newGame()">Создать игру</button>
            </div>
        </div>
    </section>
    <section style = "margin-left: 5px;">
        Список игр
        <div style = "border: 1px solid #cccccc; padding: 10px;">
            <table>
                <tr *ngFor = "let game of games;">
                    <td>{{ game.name }}</td>
                    <td>{{ game.uuid }}</td>
                    <td>
                        <button (click) = "connectToGame(game.uuid)">Подключиться</button>
                    </td>
                    <td>
                        <button (click) = "removeGame(game.uuid)" class = "-remove">Удалить</button>
                    </td>
                </tr>
            </table>
        </div>
    </section>
</section>
<router-outlet></router-outlet>