html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body
{
    font-family: "Roboto"; 
    font-weight: 400; 
    font-size: 14px;
    margin: 0;
    color: #4a4a4a;
}

button
{
    border: 1px solid #ccc;;
    background-color: white;
    border-radius: 4px;
    height: 30px;
    cursor: pointer;
    min-width: 30px;
    color: inherit;
    transition: 0.3s;
}
button:hover
{
    background-color: rgb(241, 241, 241);
}
.-primary
{
    color: #fff;
    background-color: #337ab7 !important;
    border-color: #2e6da4 !important;
}
.-primary:hover
{
    background-color: #306594 !important;
}
.-danger
{
    color: #fff;
    background-color: #f05e65 !important;
    border-color: #db434b !important;
}
.-danger:hover
{
    background-color: #da4950 !important;
}
input, select
{
    padding: 5px;
    color: #444444;
    border: 1px solid #cccccc;
    background-color: white;
}